@import "../shared/styles/theme.scss";

$selected-card-color: #E6E6E6;

.people {
  &__body {
    margin: 0px 30px 0px 30px;
  }

  &__search-add-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__search {
    margin-right: 10px;
  }

  &__add {
    margin-left: 15px;
  }

  &__tabs {
    margin-top: 30px;
  }

  &__users {
    display: flex;
    flex-direction: column;
  }

  &__no-users-message {
    margin-top: 16px;
  }

  &__user {
    margin-top: 15px;

    img {
      border-radius: 50%;
      width: 45px;
      height: 45px;
    }
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;

    div {
      color: $primary;
      font-weight: bold;
    }
  }
}