@import "../../shared/styles/theme.scss";

.create-request {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  &__content {
    display: flex;
    flex-direction: column;
    padding: $body-margin;
  }

  &__label {
    color: #BBBBBB;
    margin-bottom: 15px;
  }

  &__actions {
    padding-top: 50px;
  }
}