@import "../../shared/styles/theme.scss";

.create-request {
  display: flex;
  flex-direction: column;
  
  &__body {
    margin: $body-margin;
  }

  &__label {
    color: #BBBBBB;
    // font-weight: bold;
    margin-bottom: 15px;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;

    &--active {
      color: $primary;
      font-weight: bold;
      background-color: $secondary;
    }

    &--inactive {
      color: $inactive-button-text;
      border: 1px solid $inactive-button-text;
    }
  }

  &__date-field {
    width: 100%;
    margin-bottom: 30px !important;
  }

  &__comment-field {
    width: 100%;
    margin-bottom: 50px !important;
  }
}