@import "../../../shared/styles/theme.scss";

.chose-activity {
    .MuiSelect-select:focus {
        background: none;
    }

    .MuiSelect-select.MuiSelect-select {
        padding-right: 0px;
    }

    &__select-form {
        min-width: 120px;
        display: block !important;
        
        .MuiInputBase-root {
            display: block !important;
        }
    }
}