$primary: #b22525;
$secondary: #ffeded;
$neutral: #ebebeb;
$ni-black: #1f2526;

$shadow-color: gray;
$subtext-color: #767272;
$ni-light-gray: #b0b0b0;
$ni-gray: #707070;

$title-color: #242424;
$readable-color: #5a6166;
$link-color: #6592bb;
$subtitle-color: #c6c6c6;

$button-border-color: #d9d9d9;
$inactive-button-text: #a4a4a4;
$subtext-size: 13.33px;
$body-text-size: 16px;
$h5: 19.2px;
$h4: 23.04px;
$h3: 27.65px;
$h2: 33.18px;
$h1: 39.81px;

$body-margin: 30px;
$line-height: 200%;
$letter-spacing: 0.2px;
